<div class="col-md-10 mx-auto" style="margin-bottom: 32px" *ngIf="!modulogamificacao">
  <h1 class="page-heading">Esta página não existe.</h1>
</div>
<div class="col-md-10 mx-auto" style="margin-bottom: 32px" *ngIf="modulogamificacao">
  <h1 id="page-heading" data-cy="QuestionariosHeading">
    <span>Quiz</span>
  </h1>
</div>
<div (click)="scrollToTop()" class="scroll-to-top" *ngIf="pageYoffset > 61">
  Ir para o topo
  <i class="fas fa-level-up-alt"></i>
</div>
<div class="alert alert-warning col-md-12" id="no-result" *ngIf="questionarios?.length === 0 && modulogamificacao">
  <span>No questionarios found</span>
</div>
<div class="col-md-10 mx-auto p-0" *ngIf="modulogamificacao">
  <div class="col-md-3 float-left" *ngFor="let questionario of questionarios" style="margin-bottom: 32px">
    <div class="card h-100 text-center" (click)="goToQuestionario(questionario.id)" style="cursor: pointer">
      <img class="card-img-top img-fluid m-0" src="{{ basePath }}{{ questionario.categoria.imagemPath }}" alt="foto image" />
      <div class="card-header">
        <h5 class="card-title">{{ questionario.nome }}</h5>
      </div>
    </div>
  </div>
</div>
