.card-img-top {
  width: 100%;
  height: 20vw;
  object-fit: cover;
}

/* cor do titulo */
h1 {
  color: #383e42;
}

h3,
h4,
h5,
h6 {
  color: #101820 !important;
  font-style: normal;
}

.btn-link,
.btn {
  text-decoration: none !important;
  color: #393131 !important;
}

.btn-link:hover {
  text-decoration: none !important;
  color: #393131 !important;
}

.btn-link:focus,
.collapsed,
.expanded {
  text-decoration: none !important;
  color: #393131 !important;
  border-color: transparent !important;
  box-shadow: none !important;
}

.card {
  height: 100%;
  display: flex;
}

.card-block {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.center {
  height: 97px;
  position: relative;
}

.center p {
  font-size: 20px !important;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.card-footer {
  text-align: center !important;
  vertical-align: center !important;
  height: 97px !important;
  top: 50% !important;
}

.min-vh-50 {
  min-height: 50vh !important;
}

ngb-accordion ::ng-deep .card-header {
  padding: 0;
}

/* cor das letras dos subtemas fechados*/
ngb-accordion ::ng-deep .card-header button[aria-expanded='false'] b {
  color: #515a5a;
}

ngb-accordion ::ng-deep .card-header button {
  width: 100%;
  height: 100%;
  padding: 0.5rem 0.5rem !important;
  text-decoration: none;
  text-align: left;
  background-color: #ffffff; /*background dos cards fechados*/
}

/*hover nos subtemas*/
ngb-accordion ::ng-deep .card-header button:hover {
  background-color: #c4c4c4;
}

/*letras dos subtemas hover*/
ngb-accordion ::ng-deep .card-header button:hover span {
  color: #383e42;
  font-weight: bold !important;
}

ngb-accordion ::ng-deep .card-header button:focus {
  box-shadow: none;
}

/*cor do subtema aberto*/
ngb-accordion ::ng-deep .card-header button[aria-expanded='true'] {
  background-color: #c4c4c4;
}

/*cor da letra do subtema aberto*/
ngb-accordion ::ng-deep .card-header button[aria-expanded='true'] span {
  color: #383e42;
  font-weight: bold;
}

/*hover nos intrumentos*/
ngb-accordion ::ng-deep .card.h-100.text-center:hover div {
  background-color: #c4c4c4;
  color: #383e42;
  font-weight: bold;
}

/*default instrumentos*/
ngb-accordion ::ng-deep .card.h-100.text-center div {
  color: #515a5a;
  background-color: #ffffff;
}

ngb-accordion {
  overflow-y: hidden;
}
