.card-img-top {
  width: 100%;
  height: 20vw;
  object-fit: cover;
}

/* cor do titulo */
h1 {
  color: #383e42;
}

.card:hover div {
  background-color: #c4c4c4;
}

.card:hover .card-title {
  color: #383e42;
  font-weight: bold;
}

.card .card-title {
  color: #515a5a;
}

.card div {
  background-color: #ffffff;
}
